img {
    max-width: 200px;;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

article figure {
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }