@import url(./fonts.css);

* {
    box-sizing: border-box;
}

body {
    font-family: 'arquitect', monospace;
    font-size: 18px;
    line-height: 1.5;
    background-color: #f3e8cb;
}

header {
    text-align: center;
    color: #99e1e5ec;
    text-shadow: 0.5px 0.5px 5px black;

 
}

header div {
    background-image: url("../images/big_header.jpg");
    background-color: lightslategrey;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10px;
    margin-top: 50px;
}

h1  {
    font-size: 6vw;
    font-family: 'carter';
    line-height: 1.5;
    margin-top: 0px;
}

h1+p  {
    font-size: 3vw;
    font-family: 'meriendabold';
}

@media (min-width: 1000px) {
    h1  {
        font-size: 50px;
    }
    h1+p  {
        font-size: 30px;
    }
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav a {
    flex: 0.4 1 300px;
    background: rgb(242,198,180);
    background: radial-gradient(circle, rgb(242, 198, 180) 0%, rgb(243, 232, 203) 80%);
    color: #99e1e5;
    font-weight: bolder;
}

nav a:hover {
    transform: scale(1.2);
    transform-origin: center top;
}

main, aside {
    max-width: 1000px;
    margin: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    

}

.flex > * {
    flex: 1 1 300px;
}

h2 {
    font-size: 30px;
    text-align: center;
    font-family: 'meriendabold';
    color: #99e1e5;
    text-shadow: 0 0 5px black;
}


h3 {
    font-size: 25px;
    text-align: center;
    font-family: 'arquitect';
    margin: 0;
}

article figure, header figure {
    float: left;
    font-family: 'meriendabold';
    font-size: 12px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

section .clearfix {
    border-radius: 5px;
    background: rgb(251,175,175);
    background: linear-gradient(180deg, rgba(251,175,175,0.7) 0%, rgba(243,232,203,1) 50%);

}

.price {
    font-style: italic;
    font-size: large;
    font-weight:bolder;
    color: rgb(153, 225, 229);
    text-shadow: 0 0 1px black;

}

button {
    background: rgb(153,225,229);
    background: radial-gradient(circle, rgba(153,225,229,0.9) 0%, rgba(242, 198, 180, 0.5) 100%);
    padding: 10px;
    font-size: 14px;;
    border-radius: 8px;
    border-color: rgba(153, 225, 229, 0.3);
    text-align: center;
    text-transform: uppercase;   
}

button:hover {
    box-shadow: 0px 0px 5px black;
    background: radial-gradient(circle, rgba(153,225,229,0.9) 50%, rgba(242,198,180,0.9) 100%);
    transform: scale(1.05);
}

img {
    max-width: 200px;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

video {
    float: right;
    max-width: 200px;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

form input, form textarea {
    display: block;
    margin-bottom: 10px;
}

legend {
    font-family: 'meriendabold';
}

#project {
    display: flex;
    flex-wrap: wrap;
}

#project > * {
    flex: 1 1 200px
}

#project h2 {
    flex-basis: 100%;
}

#project img {
    max-width: 100%;
}

summary {
    background: rgba(251,175,175,1);
    background: linear-gradient(90deg, rgba(243,232,203,1) 0%, rgb(242, 198, 180) 8%, rgba(243,232,203,1) 78%);
    border-radius: 5px;
    padding-right: 5px;
    margin-bottom: 2px;;
}

summary a {
    color: #99e1e5ec;
    text-shadow: 1px 2px 5px black;
}

footer {
    margin-top: 20px;
    font-family: Georgia;
    font-size: 12px;
    padding: 0 5vw;
    background-color:burlywood;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    align-items: center;
    background: rgb(153,225,229);
    background: linear-gradient(0deg, rgba(153,225,229,1) 0%, rgba(243,232,203,1) 100%);
}

footer > *:nth-child(1) {
    grid-area:1/1/2/3;
}

footer > *:nth-child(2) {
    grid-area:2/1/3/3;
}

footer > *:nth-child(3) {
    grid-area:1/3/3/4;
    justify-self: center;
}

.links {
    display: grid; 
    grid-template-columns: repeat(2, 60px);
    gap: 2px;
    align-items: center;
    justify-content: space-around;
}
.links img {
    max-width: 40px;
}

/* sacar nav fuera del header y sacar position stick
 */
/* https://colorhunt.co/pa
lette/124272 */
