@import url(./fonts.css);

* {
    box-sizing: border-box;
}

body {
    font-family: 'arquitect', monospace;
    font-size: 16px;
    line-height: 1.5;
    background-color: blanchedalmond;
}

header {
    text-align: center;
    padding: 0px 0vw;
    background-image: url("../images/big_header.jpg");
    background-color: lightslategrey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    text-shadow: 0 0 2px black;
    border-radius: 10px;
}

h1  {
    font-size: 6vw;
    padding-top: 30px;
    font-family: 'carter';
}

h1+p  {
    font-size: 3vw;
    font-family: 'meriendabold';
}

@media (min-width: 1000px) {
    h1  {
        font-size: 50px;
    }
    h1+p  {
        font-size: 30px;
    }
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav a {
    flex: 1 1 300px;
}

main, aside {
    max-width: 1000px;
    margin: auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    

}

.grid > * {
    flex: 1 1 400px;
}

h2 {
    font-size: 30px;
    text-align: center;
    font-family: 'meriendabold';
}


h3 {
    font-size: 25px;
    text-align: center;
    font-family: 'arquitect';
}

article figure, header figure {
    float: left;
    font-family: 'meriendabold';
    font-size: 14px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
section .clearfix {
    border: 4px inset rgba(186, 186, 182, 0.15);
    border-radius: 5px;
    background-color: rgba(244, 229, 205, 0.72);

}

.price {
    font-style: italic;
    font-size: large;
    font-weight:bolder;
    color: whitesmoke;
    text-shadow: 0 0 1px black;

}

button {
    background: rgb(151,195,173);
    background: radial-gradient(circle, rgba(161, 200, 180, 0.76) 5%, rgb(225, 197, 174) 80%);
    padding: 8px;
    font-size: 14px;;
    border-radius: 8px;
    border-color: rgba(186, 186, 182, 0.15);
    text-align: center;
    text-transform: uppercase;   
}

button:hover {
    box-shadow: 0 0 2px black;
}

  img {
    max-width: 180px;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}

form input, form textarea {
    display: block;
}

legend {
    font-family: 'meriendabold';
}

#project {
    display: flex;
    flex-wrap: wrap;
}

#project > * {
    flex: 1 1 200px
}

#project h2 {
    flex-basis: 100%;
}

#project img {
    max-width: 100%;
}

